@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body {
  background: url("../images/stock-photo-downtown-skyline-of-philadelphia-pennsylvania-at-twilight-180201065.jpg") center center no-repeat fixed;
  background-size:  cover;
  margin:0;
  font-size: 1.5em;
}


div {
  height:10%; 
  width:70%;
  display: table;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}


p {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}



img {
  display: block;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 25%;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
/*--- Mobile portrait ---*/
div {
  height:10%; 
  width:60%;
  font-size: 0.9em;
  padding: 10px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

img {
  top:20%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 55%;
}



}
@media only screen and (min-width : 480px) and (max-width : 595px) {
/*--- Mobile landscape ---*/
div {
  height:10%; 
  width:60%;
  font-size: 0.8em;
  padding: 8px;
}

img {
  top:30%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 38%;
}


}
@media only screen and (min-width : 595px) and (max-width : 690px) {
/*--- Small tablet portrait ---*/
div {
  height:10%; 
  width:70%;
  font-size: 1.2em;
  padding: 10px;
}

img {
  top:20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 40%;
}

}
@media only screen and (min-width : 690px) and (max-width : 800px) {
/*--- Tablet portrait ---*/

div {
  height:10%; 
  width:70%;
  font-size: 1.3em;
  padding: 10px;
}

img {
  top:20%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 40%;
}



}
@media only screen and (min-width : 800px) and (max-width : 1024px) {
/*--- Small tablet landscape ---*/
div {
  height:10%; 
  width:70%;
  font-size: 1.5em;
  padding: 10px;
}

img {
  top:20%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 35%;
}

}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
/*--- Tablet landscape --- */
div {
  height:10%; 
  width:70%;
  font-size: 1.5em;
  padding: 10px;
}

img {
  top:20%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 35%;
}


}