@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body {
  background: url("../images/stock-photo-skyline-of-philadelphia-downtown-pennsylvania-usa-226451653.jpg") center center no-repeat fixed;
  background-size:  cover;
  margin:0;
  font-size: 1.5em;
}

a{
      text-decoration: none;
      color: white;


}


div {
  height:10; 
  width:70%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}


p {
    vertical-align: middle;
    text-align:center;
}



img {
  display: block;
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
}

@media only screen and (min-width : 300px) and (max-width : 480px) {
/*--- Mobile portrait ---*/
div {
  height:10%; 
  width:60%;
  font-size: 0.7em;
}
img {
  width: 50%;
}

}


@media only screen and (min-width : 480px) and (max-width : 595px) {
/*--- Mobile landscape ---*/
div {
  height:10%; 
  width:60%;
  font-size: 0.7em;
  padding: 8px;
  bottom:30px;
}

img {
   top: 18px;

  width: 35%;
}


}
@media only screen and (min-width : 595px) and (max-width : 690px) {
/*--- Small tablet portrait ---*/

div {
  height:10; 
  width:70%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}


p {
    vertical-align: middle;
    text-align:center;
}



img {
  display: block;
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
}
}
@media only screen and (min-width : 690px) and (max-width : 800px) {
/*--- Tablet portrait ---*/

div {
  height:10%; 
  width:70%;
  font-size: 1.4em;
}

img {
  width: 40%;
}



}
@media only screen and (min-width : 800px) and (max-width : 1024px) {
/*--- Small tablet landscape ---*/
div {
  height:10%; 
  width:70%;
  font-size: 1.6em;
}

img {
  width: 35%;
}

}
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
/*--- Tablet landscape --- */
div {
  height:10%; 
  width:70%;
  font-size: 1.5em;
}

img {
  width: 35%;
}

}