@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

/**  Basic Page CSS **/
body {
  background: url("../images/stock-photo-downtown-skyline-of-philadelphia-pennsylvania-at-twilight-180201065.jpg") center center no-repeat fixed;
  background-size:  cover;
  margin:0;
  font-size: 1.5em;
}


div {
  height:10%; 
  width:70%;
  display: table;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 2em;
  padding: 10px;
}


p {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}



img {
  display: block;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 25%;
}

@media (max-width: 1200px) {
div{
  height:10%; 
  width:80%;
  display: table;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.6em;
  padding: 7px;
}

  img {
  display: block;
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 33%;
}
}


@media (max-width: 850px) {
div{
  height:10%; 
  width:75%;
  display: table;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.7em;
  padding: 7px;
}

  img {
  display: block;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 40%;
}
}

@media (max-width: 600px) {
div{
  height:10%; 
  width:60%;
  display: table;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 7px;
}

  img {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 55%;
}
}

@media (max-width: 460px) {
div{
  height:10%; 
  width:45%;
  display: table;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #358fcd;
  border: 5px solid #4DB8FF;
  font-family: "Roboto Slab", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.3em;
  padding: 7px;
}

  img {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  width: 50%;
}
}